body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#content {
    text-align: center;
}

#text {
    cursor: pointer;
    font-size: 2em;
    line-height: 1.5;
    font-weight: bold;
}
